.projects-container {
    display: flex;
    width: 20%;
    flex-wrap: wrap;
    padding: 2%;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: scroll;
}

.project-container {
    width: 100%;
    padding: 5%;
}

.project-container a {
    color: black;
}